<header>
    <div>
        <a href="/"><h1>Stige</h1></a>
    </div>
    <div>
        <a href="login" id="header-login">Login</a>
        <a href="signup" id="header-signup">Sign Up</a>
    </div>
</header>