<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/signup.css">
    <title>Stige | Sign Up</title>
</head>
<body>
    <%- include('header.ejs') %>
    <div id="signup">
        <form>
            <div>
                <h2>Sign Up</h2>
            </div>
            <div>
                <label for="fullname">Full name</label>
                <input type="text" name="fullname" required>
            </div>
        
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" minlength="6" required>
            </div>
            <div>
                <label for="mobileNo">Mobile No</label>
                <input type="tel" name="mobileNo" minlength="10" maxlength="10" pattern="[0-9]{10}" placeholder="It must contain only 0-9" required>
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" name="address" >
            </div>
            <div>
                <label for="userImg">Profile Photo</label>
                <input type="file" name="userImg" id="userImg">
            </div>
            <div>
                <button type="submit">Create Profile</button>
            </div>
        </form>
    </div>
    <%- include('footer.ejs') %>
    <script src="js/signup.js"></script>
</body>
</html>