<div class="task">
    <p>Hey Trainee,</p>

    <p>Glad you are following the modules. Here are some basic rules to keep in mind to get the best experience out of this Virtual Internship Program. Please follow them with utmost sincerity. Here are the rules:</p>

    <p>1. Check Mails : Add info@stige.tech to your contacts in Gmail and check your mails regularly for important notifications.</p>

    <p>2. Complete Tasks:  mentioned on the your Dashboard on a regular basis.</p>

    <p>These are the basic rules for the entire virtual internship program for all the upcoming modules. See you in the next lesson.</p>
</div>