<div class="task">
    <p>Hey, it’s your virtual mentor and more than anything else I would like to welcome you to this program and say a huge bravo for your investment in this program.</p>
    
    <p>There are things you are going to learn about that would not just shift your mindset, make you more productive, help you focus better but in the end, make you more successful as a person.</p>

    <p>During the course of this program, we are going to learn ideas that are going to challenge your preconceived notions about life and everything that you may have learned from your environment while growing up. This is the reason we want you to be completely open to the ideas we will share, pick up the ones which inspire you the most, and discard the rest.</p>
</div>