
<div class="task">
    <p><strong>Own the morning, Own the day, Own the LIFE</strong></p>

    <p>Alarmy is a ground breaking app, to help you stay on track and make you productive. What is special about this alarm is that you have to do certain tasks, called Missions and which you can choose from, before the alarm will stop ringing.</p>

    <p><strong>Your Tasks :</strong></p>
    <ol>
        <li>Install The App in your phone (Link given below)</li>
        <li>Setup up mission & alarms (Wake up before 8am – Daily)</li>
        <li>Start owning the mornings. You will eventually own the days.</li>
    </ol>
    <div class="links">
        <a href="">Download Alarmy</a>
    </div>
</div>