<div class="task">
    <p>There is no better way to learn than by actually building projects. But we don’t always have the ideas to build upon, thus the second best thing is CLONING.</p>

    <p>But why Frontend cloning is important?</p>

    <p>In <strong>real-life scenario</strong>, the website / web-app features are described by a Product Manager to a UI-UX designer who makes a mockup/prototype from the requirements.</p>

    <p>Once the mockup is approved, it becomes the duty of a Frontend developer to translate that mockup <strong>accurately</strong> into frontend code.</p>

    <p>Thus we will be cloning a website for your Mini Project 01</p>

    <p>PROJECT GUIDELINES</p>

    <ol>
        <li>Click the “Requirement Gathering” button to understand more about your project</li>
        <li>Click the “Asset Platform” button to find a relevant video asset for your project</li>
        <li>Click “Deployment” button to learn how to host your project on the internet</li>
        <li>Submit the “link” to your hosted project using the submit project button.</li>
    </ol>
    <br>
    <div class="links">
        <a href="">Requirement Gathering</a>
        <a href="">Asset Platform</a>
        <a href="">Deployment</a>
        <a href="">Submit Project</a>
    </div>
    <br>
    <p><strong>Note:</strong> In case the video link in the background video of your website is broken, download the background video.</p>

    <p>Once downloaded include this file in your file directory and change the src of your video tag to the mp4 file you have added.</p>

    <p>NOTE – Your projects will be approved altogether at the end of the program.</p>
</div>