<div class="task">
    <p>Now that we know how the internet and website work. We will be diving right in HTML basics. These concept builders have been suggested by people from top companies, so we would emphasize on going through them again, even if you already know these topics. These would serve as a refresher for the concepts.</p>

    <p><strong>Your Task:</strong></p>
    <ol>
        <li>Complete Video 1 (HTML High level overview)</li>
        <li>Complete Video 2 (HTML Detailed Concepts)</li>
    </ol>
    <p>Watching both of these 2 videos would solidify your concepts about the HTML and set the right foundations for upcoming modules.</p>

    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qz0aGYrrlhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>