<div class="task">
    <p>Hey Trainee,</p>

    <p>We are glad you have made it till here and have completed HTML. We are going to jump into CSS. CSS determines the overall look and feel of the website and is essential for any website to look good and have better UI and UX. Let’s cover the fundamentals of CSS and in-depth CSS through the video series below. We will be starting our project 01 right after getting a strong grasp over HTML & CSS.</p>

    <p>Your Tasks:</p>
    <ol>
        <li>Complete Video 1 (Fundamentals of CSS)</li>
        <li>Complete Video 2 (High Level Overview of CSS)</li>
        <li>Complete Video 3 (In depth CSS Explanation)</li>
    </ol>
    <p>Please stick to the order provided above to complete the video series given.</p>

    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XPv4EeB0PJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1PnVor36_40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ieTHC78giGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
</div>