<div class="task">
    <p>We’ll be starting right after you have successfully setup a development environment in your local machine. You may watch the video attached or the link to official VS studio documentation to get started.</p>

    <p>Your Task:</p>
    <ol>
        <li>Setup VS Studio Code in your machine</li>
        <li>Get comfortable using the software and get your hands around using the same.</li>
    </ol>
    <p><strong>Install VS-Code on your computer from the links attached below.</strong></p>

    <div class="links">
        <a href="https://code.visualstudio.com/docs/introvideos/basics">Getting started with Visual Studio Code</a>
        <a href="https://code.visualstudio.com/download">Download Visual Studio Code</a>
    </div>
    <div class="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4NfFFsQC77M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>